<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XBMC.Properties.Settings.FilmsConnectionString" connectionString="data source=D:\Films.sqlite"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>