<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MediaManager.Properties.Settings.FilmsConnectionString"
            connectionString="data source=D:\Films.sqlite" providerName="System.Data.SQLite" />
    </connectionStrings>
    <userSettings>
        <MediaManager.Properties.Settings>
            <setting name="GUIFanartOpacite" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="GUIRealisateursOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GUIActeursOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GUIGenresOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GUIDiversOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </MediaManager.Properties.Settings>
    </userSettings>
</configuration>